# Configurações do Servidor
PORT=3000

# Configurações de Email (SMTP)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USER=seu-email@gmail.com
EMAIL_PASS=sua-senha-de-app
EMAIL_TO=contato@mhjti.com.br

# Ambiente
NODE_ENV=development
